:root {
  --primary-color: #f7f1eb;
  --secondary-color: #423735;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "La Belle Aurore", cursive;
}

body {
  background: var(--primary-color);
  font-family: var(--primary-font);
  padding-top: 150px;
  text-align: center;
  color: var(--secondary-color);
}

nav {
  color: var(--secondary-color);
  background: white;
  font-size: 18px;
}

h1 {
  font-size: 45px;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 45px;
  font-weight: 700;
  opacity: 20%;
}

h3 {
  margin-top: -13px;
}

footer img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

footer {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: var(--secondary-color);
  opacity: 50%;
}

.introduction {
  border-bottom: 1px solid var(--secondary-color);
  margin: 360px 130px 80px 130px;
  padding-bottom: 60px;
  font-size: 18px;
  font-weight: 550;
}

.image-container {
  padding: 70px;
  margin-bottom: -10px;
}

.fa-envelope,
.fa-phone-alt,
.fa-paw {
  font-size: 14px;
  padding-right: 3px;
}

.image-home {
  max-width: 100%;
  height: auto;
  margin-top: -180px;
}

.h1-home {
  margin-top: -450px;
}

.h2-home {
  font-size: 100px;
  margin-top: -22px;
}
